table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 40px;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

.device-weather-info {
    max-width: 350px;
    overflow-y: auto;
    
}

.device-weather-info::-webkit-scrollbar {
    height: 10px;
}

.device-weather-info::-webkit-scrollbar-thumb {
    background-color: #888;
}

.device-weather-info::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
